
label select .seletor{
    padding: 1.5%;
}

.tabela{
    padding: 1.5%;
}

/* Página edit.html */
label{
    padding: 1% 0;
}

.box{
    display: grid;
    justify-content: center;
    /* grid-template-rows: max-content max-content max-content max-content max-content; */
    /* grid-gap: 5% */
}

.item{
    display: flex;
}

.container-botao{
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
}

.grid-1{
    grid-column: 3;
}

@media (min-width: 480px){
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .botão{
        width: 1%;
    }
}
